header {
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    background: #FFFAE2;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.logo {
    margin: 5px;
}

.login {
    left: 170px;
    font-weight: 500;
}

h1 {
    color: #ffa500;
    font-family: Verdana, sans-serif;
}

.chatBox {
    background: #FFED8A;
    border: 4px solid #FFA500;
    box-sizing: border-box;
    border-radius: 15px;
}

.chatSection {
    background: #FFFFFF;
    border: 4px solid #FFFAE2;
    box-sizing: border-box;
    border-radius: 15px;
}

.groupBtn {
    text-align: center;
    margin: 1px;
    background: #FC8406;
    border: 4px solid #FFA500;
    box-sizing: border-box;
    border-radius: 15px;
    color: white;
}

.msgBox {    
    background: #FFED8A;
    box-sizing: border-box;
    border-radius: 0px 0px 11px 11px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.textBox {
    background: #FFFFFF;
    border: 4px solid #FFFAE2;
    box-sizing: border-box;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.textBox2 {
    background: #FFFFFF;
    border: 4px solid #FFED8A;
    box-sizing: border-box;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.textBox3 {
    background: #FFFAE2;
    border: 4px solid #FFFAE2;
    box-sizing: border-box;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.currChat {
    background: #FC8406;
    border: 5px solid #FFA500;
    box-sizing: border-box;
    border-radius: 11px 11px 0px 0px;
    font-weight: 600;
}

.chatBg {
    border: 4px solid #FFED8A;
    border-radius: 15px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
}

button {
    background-color: #FFED8A;
    border-radius: 15px;
    text-align: center;
    margin: 1px;
}

.btn2 {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: center;
    vertical-align: middle;
    background-color: #F20122;
    border: 2px solid #FC8406;
    border-radius: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn3 {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: center;
    vertical-align: middle;
    background-color: #FFA500;
    border: 2px solid #FC8406;
    border-radius: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

footer {
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    background-color: #ffa500;
    color: white;
    bottom: 0pt;
    left: 0pt;
    text-align: center;
}

#secHeader {
    color: #ffa500;
}

#messages {
    max-height: 73%;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;    
    padding-bottom: 15px !important;
}

/*
.scrollbar {
    width: 100%;
    height: 290px;
    overflow: scroll;
	float: left;	
    overflow-y: scroll;
    overflow-x: hidden;
	margin-bottom: 25px;
}

.force-overflow{
	min-height: 50px;
}

#wrapper{
	text-align: center;
	width: 500px;
	margin: auto;
}

#style-7::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-7::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-7::-webkit-scrollbar-thumb
{
	border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, #FC8406),
									   color-stop(0.72, #FFA500),
									   color-stop(0.86, #FFED8A));
}
*/

.currentlyTyping {
    bottom: 95px;
    font-size: 13px;
    font-style: italic;
}

.seenStatus {
    bottom: 95px;
    right: 25px;
    font-size: 13px;
    font-style: italic;
}

#mainContent {
    height: 75vh;
}

#chatUI {
    max-height: 100%;
}

@media (min-width: 992px){
    .col-lg-9 {
        flex: 0 0 auto;
        width: 80%;
    }
}

.autocomplete {
    cursor: pointer;
    padding: 0 !important;
}

.autocomplete > div {
    padding: .5rem 1rem;
}

.autocomplete > div:hover {
    background: #FFED8A;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* Snake Game CSS*/
#gameScreen {
    display: none;
    bottom: 105px;
    right: 0;
  }

.name {
    margin: 0
}

.name:hover {
    background: #FFED8A;
    cursor: pointer;
}

.modalContent {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 75%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 4px solid #FFA500;
    border-radius: 15px;
    outline: 0;
}

.modalHead {
    background-color: #FFFAE2;
    border-radius: 11px 11px 0px 0px;
    text-align: center;
    padding: 0.5rem;
    border: 4px solid #FFED8A;
}

.modalFoot {
    background-color: #FFFAE2;
    border-radius: 0px 0px 11px 11px;
    text-align: center;
    padding: 0.5rem;
    border: 4px solid #FFED8A;
}

a {
    color: #FC8406;
    text-decoration: underline;
}

a:hover {
    color: #F20122;
}

/* chat bubbles */
.imessage {
    display: flex !important;
    flex-direction: column;
    font-family: "SanFrancisco";
    font-size: 1rem;
    padding: 0.5rem;
  }
  
  .imessage p {
    border-radius: 1.15rem;
    line-height: 1.25;
    max-width: 75%;
    padding: 0.5rem .875rem;
    position: relative;
    word-wrap: break-word;
  }
  
  .imessage p::before,
  .imessage p::after {
    bottom: -0.1rem;
    content: "";
    height: 1rem;
    position: absolute;
  }
  
  p.from-me {
    align-self: flex-end;
    margin-left: auto !important;
    margin-right: 10px !important;
    background-color: #FFA500;
    color: #fff; 
  }
  
  p.from-me::before {
    border-bottom-left-radius: 0.8rem 0.7rem;
    border-right: 1rem solid #FFA500;
    right: -0.35rem;
    transform: translate(0, -0.1rem);
  }
  
  p.from-me::after {
    background-color: #fff;
    border-bottom-left-radius: 0.5rem;
    right: -40px;
    transform:translate(-30px, -2px);
    width: 10px;
  }
  
  p[class^="from-"] {
    /*margin: 0.5rem 0;*/
    width: fit-content;
  }
  
  p.from-me ~ p.from-me {
    margin-left: auto;
    margin-right: 10px;
    margin: 0.25rem 0 0;
  }
  
  p.from-me ~ p.from-me:not(:last-child) {
    margin-left: auto;
    margin-right: 10px;
    margin: 0.25rem 0 0;
  }
  
  p.from-me ~ p.from-me:last-child {
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 0.5rem;
  }
  
  p.from-them {
    align-items: flex-start !important;
    background-color: #FFFAE2;
    color: #000;
  }
  
  p.from-them:before {
    border-bottom-right-radius: 0.8rem 0.7rem;
    border-left: 1rem solid #FFFAE2;
    left: -0.35rem;
    transform: translate(0, -0.1rem);
  }
  
  p.from-them::after {
    background-color: #fff;
    border-bottom-right-radius: 0.5rem;
    left: 20px;
    transform: translate(-30px, -2px);
    width: 10px;
  }
  
  p[class^="from-"].emoji {
    background: none;
    font-size: 2.5rem;
  }
  
  p[class^="from-"].emoji::before {
    content: none;
  }
  
  .no-tail::before {
    display: none;
  }
  
  .margin-b_none {
    margin-bottom: 0 !important;
  }
  
  .margin-b_one {
    margin-bottom: 1rem !important;
  }
  
  .margin-t_one {
    margin-top: 1rem !important;
  }
  
  /* general styling */
  @font-face {
    font-family: "SanFrancisco";
    src:
      url("https://cdn.rawgit.com/AllThingsSmitty/fonts/25983b71/SanFrancisco/sanfranciscodisplay-regular-webfont.woff2") format("woff2"),
      url("https://cdn.rawgit.com/AllThingsSmitty/fonts/25983b71/SanFrancisco/sanfranciscodisplay-regular-webfont.woff") format("woff");
  }
  
  body {  
    font-family: -apple-system, 
      BlinkMacSystemFont, 
      "Segoe UI", 
      Roboto, 
      Oxygen-Sans, 
      Ubuntu, 
      Cantarell, 
      "Helvetica Neue", 
      sans-serif;
    font-weight: normal;
    margin: 0;
  }
  
  .container {
    margin: 0 auto;
    max-width: 600px;
    padding: 1rem;
  }
  
  h1 {
    font-weight: normal;
    margin-bottom: 0.5rem;
  }
  
  h2 {
    border-bottom: 1px solid #e5e5ea;
    color: #666;
    font-weight: normal;
    margin-top: 0;
    padding-bottom: 1.5rem;
  }
  
  .comment {
    color: #222;
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    max-width: 100%;
    padding: 0;
  }
  
  @media screen and (max-width: 800px) {
    body {
      margin: 0 0.5rem;
    }
  
    .container {
      padding: 0.5rem;
    }
  
    .imessage {
      font-size: 1.05rem;
      margin: 0 auto 1rem;
      max-width: 600px;
      padding: 0.25rem 0.875rem;
    }
  
    .imessage p {
      margin: 0.5rem 0;
    }
  }

  .imessage cite {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.5px;
  }

.welcome{
    max-width: 100% !important;
    font-weight: 300;
    text-align: center;
    margin: 0;
    padding: 0 !important;
    font-style: italic;
}

/* helper pop-up */

 .introjs-tooltip { /*outline*/
    position: relative;
    display: flex;
    flex-direction: column;
    width: 75%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 4px solid #FFA500;
    border-radius: 15px;
    outline: 0;
 } 

 .introjs-tooltip-header{
    flex-shrink: 0;
    align-items: center;
    background-color: #FFFAE2;
    border-radius: 11px 11px 0px 0px;
    text-align: center;
    padding: 0.5rem;
    border: 4px solid #FFED8A;
 }

 .introjs-tooltipbuttons{
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    background-color: #FFFAE2;
    border-radius: 0px 0px 11px 11px;
    text-align: center;
    padding: 0.5rem;
    border: 4px solid #FFED8A;
 }

 .introjs-prevbutton{
    float: left;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: center;
    vertical-align: middle;
    background-color: #F20122;
    border: 2px solid #FC8406;
    border-radius: 10px;
    cursor: pointer;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
 }

 .introjs-nextbutton{
    float: right;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: center;
    vertical-align: middle;
    background-color: #FFA500;
    border: 2px solid #FC8406;
    border-radius: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
 }

 .introjs-bullets ul li a{
    color: #FFA500;
 }

 .introjs-bullets ul li a.active {
    width: 15px;
    background: #FC8406;
}

 .introjs-arrow {
    border: 10px solid transparent;    
    content: "";
    position: absolute;
 }

.introjs-arrow.top {
    top: -22px;
    left: 10px;
    border-bottom-color: #FFA500;
}

.introjs-arrow.top-right {
    top: -22px;
    right: 10px;
    border-bottom-color: #FFA500;
}

.introjs-arrow.left {
    left: -22px;
    top: 10px;
    border-right-color: #FFA500;
}

/* Right-click Menu */
.context-menu {
    position: absolute;
    text-align: center;
    background: lightgray;
    border: 1px solid black;
}

.context-menu ul {
    padding: 0px;
    margin: 0px;
    min-width: 150px;
    list-style: none;
}

.context-menu ul li {
    padding-bottom: 7px;
    padding-top: 7px;
    border: 1px solid black;
}

.context-menu ul li a {
    text-decoration: none;
    color: black;
}

.context-menu ul li:hover {
    background: darkgray;
}
